.navbar {
    background-color: #005492;
}

.title-text {
    color: white !important;
}

body {
    margin: 50px;
  background: url('/baseball_logo.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}